<div id="lightbox"></div>

<%= link_to "", "", :id => "home" %>
<div id="sub-header_wrapper">
  <div id="sub-header_container">
    <span id="tagline">MY NAME IS RYAN TONG</span><br>
    <span id="sub-tagline">I design, develop, and monetize interactive experiences</span>
  </div>
</div>

<%= link_to "", "", :id => "about" %>
<div id="about_wrapper">
  <div id="about_container">
    <h1>ABOUT ME</h1>
    <h2>Nice to meet you.</h2>

    <div id="about_module_container">
      <%= image_tag "about.jpg", :alt => "About Me", :id => "img_about" %>

      The first website I ever built was Awesome with a capital <i>A</i>, and I loved it. At the time, it was hard for me to imagine anything better than creating and living in my own little world, complete with frames, blinking text, animated GIF's, and (wait for it) background music. In retrospect, I can't argue that the site was completely and utterly horrendous, but I was really proud of it in tenth grade.

      <p><i>That was then.</i></p>

      <p>Years later, some things have changed -- I no longer use blinking text and neither should you; while other things have not -- I'm still deeply passionate about technology.</p>

      <p>This passion, combined with a bit of luck and a fortuitous series of events, eventually led to the beginning of my career in northern California's San Francisco Bay Area, a globally recognized epicenter of digital innovation.</p>

      <p>Throughout the course of my development as a now seasoned Internet professional, I've continued to refine a <%= link_to "uniquely multi-faceted skill set", "#skills", :class => "scroll" %> that has and will enable me to play key roles in the growth of both start-ups and publicly traded companies.</p>

      <p>My priority is to work in intensely collaborative environments with high-performing, highly respectful individuals who pride themselves on their integrity and embrace the level of commitment needed to win.</p>

      <p>I am currently available for hire. Please click <%= link_to "here", "#hire", :class => "scroll" %> for details on how to contact me.</p>
    </div> <!-- end module_container -->
  </div> <!-- end about_container -->
</div> <!-- end about_wrapper -->

<%= link_to "", "", :id => "skills" %>
<div id="skills_wrapper">
  <div id="skills_container">
    <h1>SKILLS</h1>
    <h2>I wear many hats.</h2>

    <div class="skills_module_container">
      <div class="skills_module_left">
        <%= image_tag "icon_design.png", :alt => "Design", :class => "img_icon" %>
        <h3>Design</h3>
        <p class="left">Whether I am working with print or interactive media, my goal as a designer remains the same: to effectively convey information through aesthetically pleasing artwork. Simplicity and usability are the core tenets of my creative philosophy and are, to me, synonymous with beauty.</p>

        <p class="left"><strong>Specialties:</strong> Adobe Creative Cloud/Suite, Apple Final Cut Pro, digital photography &amp; videography production, typography</p>
      </div>

      <div class="skills_module_center">
        <%= image_tag "icon_development.png", :alt => "Development", :class => "img_icon" %>
        <h3>Development</h3>
        <p class="left">Software engineering is a discipline that fuels my curiosity and feeds my desire to continuously learn. I am a strong proponent of object-oriented programming methodologies and have experience working with the full development stack, but am primarily interested in front-end technologies.</p>

        <p class="left"><strong>Specialities:</strong> CSS/SASS, Git, HTML, JavaScript/jQuery, object-oriented programming, Rails, Ruby, Sinatra, Sublime Text, SQL</p>
      </div>

      <div class="skills_module_right">
        <%= image_tag "icon_business.png", :alt => "Business", :class => "img_icon" %>
        <h3>Business</h3>
        <p class="left">My experience as a businessperson has afforded me countless opportunities to develop relationships with key stakeholders at some of the world's leading Internet companies. I have played pivotal roles in the growth of both start-ups and publicly traded corporations.</p>

        <p class="left"><strong>Specialties:</strong> audience growth &amp; monetization, business development, contract negotiation, e-commerce &amp; distribution network strategy, strategic partnership management</p>
      </div>
    </div> <!-- end skills_module_container -->
  </div> <!-- end skills_container -->
</div> <!-- end skills_wrapper -->


<%= link_to "", "", :id => "work" %>
<div id="work_wrapper">
  <div id="work_container">
    <h1>WORK</h1>
    <h2>Selected projects from my portfolio.</h2>

    <div class="work_module_container">
      <div class="work_module_left">
        <%= link_to (image_tag "work_thumb_liz_ryan_(web).jpg", :alt => "Elizabeth & Ryan (Web)", :class => "img_work_thumb"), "#", "data-id" => "#work_01", :name => "lightbox" %>
        <h4>Elizabeth &amp; Ryan (Web)</h4>
        Branding, Design, Development
      </div>

      <div class="work_module_center">
        <%= link_to (image_tag "work_thumb_liz_ryan_(print).jpg", :alt => "Elizabeth & Ryan (Print)", :class => "img_work_thumb"), "#", "data-id" => "#work_02", :name => "lightbox" %>
        <h4>Elizabeth &amp; Ryan (Print)</h4>
        Branding, Design
      </div>

      <div class="work_module_right">
        <%= link_to (image_tag "work_thumb_ten_sushi.jpg", :alt => "Ten Sushi", :class => "img_work_thumb"), "#", "data-id" => "#work_03", :name => "lightbox" %>
        <h4>Ten Sushi</h4>
        Design, Development
      </div>

      <div class="work_module_left">
        <%= image_tag "clock.png", :alt => "Under Construction", :class => "img_work_thumb" %>
        <h4>Laguna Party &amp; Rentals</h4>
        Under Construction
      </div>

      <div class="work_module_center">
        <%= image_tag "clock.png", :alt => "Under Construction", :class => "img_work_thumb" %>
        <h4>Laguna Paperie (Working Title)</h4>
        Under Construction
      </div>

      <div class="work_module_right">
        <%= image_tag "clock.png", :alt => "Under Construction", :class => "img_work_thumb" %>
        <h4>Red Pyll</h4>
        Under Construction
      </div>
    </div> <!-- end work_module_container -->
  </div> <!-- end work_container -->
</div> <!-- end work_wrapper -->


<%= link_to "", "", :id => "play" %>
<div id="play_wrapper">
  <div id="play_container">
    <h1>PLAY</h1>

    <h2>The world around me inspires the work that I do.</h2>

    <div class="play_module_container">
      I used to be a <%= link_to "martial artist", "#", "data-id" => "#video_01", :name => "lightbox" %>. Nowadays, when I'm not pushing pixels, writing code, or cutting deals, I spend my time traveling the world with my digital camera. There are few things more exciting to me than experiencing new sights, sounds, and cultures.
      <br>
      <br>
      <br>
      <br>

      <div class="play_module_left">
        <iframe src="http://player.vimeo.com/video/65474473?title=0&amp;byline=0&amp;portrait=0" class="video" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>

      <div class="play_module_right">
        <h1>Japan 2013</h1>
        <h2>The Land of the Rising Sun</h2>

        Shot and edited over the course of what is undoubtedly one of the most memorable vacations of my life, <i>Japan 2013</i> captures highlights from my initial visit to the Land of the Rising Sun, a ten-day journey through Hiroshima, Osaka, Kyoto, and Tokyo.

        <p>Japan is a fascinating country with amazing culinary, cultural, and technological heritage. I'll most certainly be returning, but there's nothing like your first.</p>
      </div>

      <div class="play_module_left">
        <iframe src="http://player.vimeo.com/video/62280669?title=0&amp;byline=0&amp;portrait=0" class="video" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>

      <div class="play_module_right">
        <h1>South America 2013</h1>
        <h2>Copacabana Beach</h2>

        Timelapse footage of Rio de Janeiro's most famous seashore, as observed one evening from the rooftop patio of the Orla Copacabana Hotel.

        <p>My 2013 tour through South America also included stops in Sao Paulo, Brazil and Buenos Aires, Argentina.</p>
      </div>
      
    </div> <!-- end play_module_container -->
  </div> <!-- end play_container -->
</div> <!-- end play_wrapper -->


<%= link_to "", "", :id => "hire" %>
<div id="hire_wrapper">
  <div id="hire_container">
    <h1>HIRE</h1>

    <h2>Get in touch with me.</h2>

    <div class="hire_module_container">
      <div class="hire_module_left">
        <%= image_tag "icon_email.png", :alt => "E-Mail", :class => "img_icon" %>
        <h3>E-mail</h3>
        <p class="left">Send me an e-mail at tongrt[at]gmail.com to request a copy of my resume or schedule an interview. Serious inquiries only, please.</p>
      </div>

      <div class="hire_module_center">
        <%= link_to (image_tag "icon_github.png", :alt => "Github", :class => "img_icon"), "http://github.com/rttong" %>
        <h3>GitHub</h3>
        <p class="left">View my public repositories and code snippets on <%= link_to "GitHub", "http://www.github.com/rttong" %>. Please excuse any cryptic commit messages (sometimes I code late at night)!</p>
      </div>

      <div class="hire_module_right">
        <%= link_to (image_tag "icon_linkedin.png", :alt => "LinkedIn", :class => "img_icon"), "http://www.linkedin.com/in/rttong" %>
        <h3>LinkedIn</h3>
        <p class="left">For more details on my professional and educational background, visit my <%= link_to "LinkedIn profile", "http://www.linkedin.com/in/rttong" %>.</p>
      </div>

    </div> <!-- end hire_module_container -->
  </div> <!-- end hire_container -->
</div> <!-- end hire_wrapper -->



<div id="hidden"> <!-- start lightbox content -->
  <div id="video_01" class="window">
    <div class="window_left">
      <iframe src="http://player.vimeo.com/video/43334336?portrait=0" class="video" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>

    <div class="window_right">
      <h1>Tae Kwon Do Highlight Reel</h1>
      <h2>Just Kickin' it</h2>
      Growing up, I studied moo duk kwan tae kwon do, a Korean martial art emphasizing courtesy, integrity, perseverance, self-control, and indomitable spirit.
      <p>Here's a short highlight reel composed of footage from my first degree black belt test and various public demonstrations.</p>
    </div> <!-- end window_right -->
  </div> <!-- end window -->

  <div id="work_01" class="window">
    <div class="window_left">
      <%= image_tag "work_liz_ryan_(web).jpg", :alt => "Elizabeth & Ryan (Web)", :class => "img_work" %>
    </div>

    <div class="window_right">
      <h1>Elizabeth &amp; Ryan (Web)</h1>
      <h2>A California Wedding</h2>

      <p><%= link_to "View Project", "http://www.ryantong.com/elizabethplusryan_02" %></p>

      A one-of-a-kind website commemorating one very special day. Featuring pure CSS ribbons, a JavaScript-driven photo gallery, and a cartographically inspired <i>attractions</i> page.

      <p>Roles: <i>Branding, Design, Development</i></p>
      <p>Technologies: <i>CSS, HTML, JavaScript, PHP</i></p>
    </div> <!-- end window_right -->
  </div> <!-- end window -->

  <div id="work_02" class="window">
    <div class="window_left">
      <%= image_tag "work_liz_ryan_(print).jpg", :alt => "Elizabeth & Ryan (Print)", :class => "img_work" %>
    </div>

    <div class="window_right">
      <h1>Elizabeth &amp; Ryan (Print)</h1>
      <h2>A California Wedding</h2>

      <p><%= link_to "View Project", "#" %></p>

      My wife and I created a full suite of custom stationery products for our wedding, including pullout save the date cards, boxed invitation sets, programs, place cards, and dinner menus. A diverse guest list of 200+ attendees challenged us to utilize typographic elements in three very different languages (English, Chinese, and Vietnamese).

      <p>Roles: <i>Branding, Design</i></p>
      <p>Technologies: <i>Digital Offset, Letterpress</i></p>
    </div> <!-- end window_right -->
  </div> <!-- end window -->

  <div id="work_03" class="window">
    <div class="window_left">
      <%= image_tag "work_ten_sushi.jpg", :alt => "Ten Sushi", :class => "img_work" %>
    </div>

    <div class="window_right">
      <h1>Ten Sushi</h1>
      <h2>Modern Japanese Cuisine</h2>

      <%= link_to "View Project", "http://www.ryantong.com/tensushisf" %>

      <p>Ten Sushi was a Japanese restaurant formerly located in San Francisco's Inner Sunset district. The owner and head chef commissioned me to create a complete online presence for his business from scratch. I was responsible for copywriting, design, development, photography, and everything in between.</p>

      <p>Although it is now closed, many of Ten's customers still remember it fondly.</p>

      <p>Roles: <i>Design, Development</i></p>
      <p>Technologies: <i>CSS, Flash, HTML, JavaScript, PHP</i></p>
    </div> <!-- end window_right -->
  </div> <!-- end window -->
</div> <!-- end lightbox content -->