<ul>
	<li><%= link_to "ABOUT", "#about", :class => "scroll" %></li>
	<li><%= link_to "SKILLS", "#skills", :class => "scroll" %></li>
	<li><%= link_to "WORK", "#work", :class => "scroll" %></li>
	<li><%= link_to "PLAY", "#play", :class => "scroll" %></li>
	<li><%= link_to "HIRE", "#hire", :class => "scroll" %></li>
</ul>